<div class="container-fluid">
  <h2>Empresa</h2>
  <p></p>
  <div class="row">

    <div class="col-sm-6">
      <h4>Dados Empresariais</h4>
      <form [formGroup]="formulario">
        <label for="nome" class="control-label">Razão Social</label>
        <input type="text" class="form-control" placeholder="digite a Razão Social" formControlName='razaoSocial'>

        <label for="nomeFantasia" class="control-label">Nome Fantasia</label>
        <input type="text" class="form-control" placeholder="Digite o nome Fantasia" formControlName='nomeFantasia'>

        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" placeholder="Digite o Email" formControlName='email'>

        <label for="CNPJ" class="control-label">CNPJ</label>
        <input type="text" class="form-control" idMask="99.999.999/9999-99" placeholder="Digite o CNPJ" formControlName='cnpj'>

        <label for="telefone" class="control-label">Telefone</label>
        <input type="text" class="form-control" placeholder="Digite o Telefone" formControlName='telefoneEmpresa'>

      </form>
    </div>

    <div class="col-sm-6">
      <h4>Endereço</h4>
      <form [formGroup]="formulario">
        <label for="rua" class="control-label">Rua</label>
        <input type="text" class="form-control" formControlName='rua'>

        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" formControlName='bairro'>


        <label for="numero" class="control-label">Número</label>
        <input type="text" class="form-control" formControlName='numero'>


        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" placeholder="" formControlName='complemento'>

        <label for="cidade" class="control-label">Cidade</label>
        <input type="text" class="form-control" formControlName='cidade'>

        <label for="estado" class="control-label">Estado</label>
        <input type="text" class="form-control" formControlName='estado'>
      </form>

    </div>
      <button type="button" class="btn btn-primary btn-lg" (click)="addEmpresa()">Confirmar</button>
      <button type="button" routerLink="" class="btn btn-secondary btn-lg ml-2">Cancelar</button>
    </div>
</div>